/* *********************************TOPNAV********************************** */
body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 35px 30px;
  margin-top: 0%; 
}

.header a {
  float: left;
  color: rgb(30, 49, 224);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
 
.logo{
  width: 100px;
  position: absolute;
  top: 10px;
  left: 4%;
}

.header a:hover {
  background-color: #cfbebe;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-center {
  transform: translate(40%);
}

.header-right {
  transform: translate(70%); 
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-center,
  .header-right{
    float: none;
  }
}