body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 35px 30px;
  margin-top: 0%; 
}

.header a {
  float: left;
  color: rgb(30, 49, 224);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
 
.logo{
  width: 100px;
  position: absolute;
  top: 10px;
  left: 4%;
}

.header a:hover {
  background-color: #cfbebe;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-center {
  transform: translate(40%);
}

.header-right {
  transform: translate(70%); 
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-center,
  .header-right{
    float: none;
  }
}
/* *********************************TOPNAV**********************************  */
/* *********************************BANNER********************************* */
.title_banner{
    text-align: center;
    padding: 100px;
    font-weight: bolder;
    font-size: 4rem;
}
.text_banner{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: white; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner{
    width: 99.7%;
    height: 700px;
    border: 2px solid red;
    margin: auto;
    margin-top: 0.5%;
    background-size: 100% 100%;
    animation: banner 10s infinite;
}

@keyframes banner{
    0%, 30%{
        background-image: url(./IMG/IMG_5261.jpg);
        opacity: 1;
    }
    31%, 34%{
        opacity: 0.6;
    }
    35%, 65%{
        background-image: url(./IMG/IMG_5262.jpg);
        opacity: 1;
    }
    66%, 69%{
        opacity: 0.6;
    }
    70%, 100%{
        background-image: url(./IMG/IMG_5263.jpg);
        opacity: 1;
    }
}
/* *********************************BANNER********************************* */
/* *********************************MAIN********************************* */

/* *********************************BANNER_NOSOTROS********************************* */
.banner_2{
  box-shadow: 0 4px 8px 0 rgba(6, 43, 103, 0.2);
  border-radius: 10px;
  padding: 30px;
  text-align: justify;
  background-color: #f1f1f1;
  color: rgb(0, 0, 0);
  margin-top: 30px;
}

.banner_2:hover{
  transform: translateY(-3px);
  transition-duration: 1s;  
}
/* *********************************BANNER_NOSOTROS********************************* */

.columna {
  margin-top: 5%;
  float: left;
  width: 35%;
  margin-bottom: 16px;
  padding: 0 100px;
  margin-left: 43px;
}

.bordes {
  box-shadow: 0 4px 8px 0 rgba(6, 43, 103, 0.2);
  border-radius: 15px;
}

.bordes:hover{
 
  box-shadow: 0 12px 16px 0 rgb(11, 146, 223, 0.2),0 17px 50px 0 rgba(11, 146, 223, 0.2);
  transform: translateY(-20px);
  transition-duration: 0.4s;

}

.container {
  padding: 45px 30px;
}

.container::before, .fila::before {
  content: "";
  display: table;
}

.container::after, .fila::after {
  content: "";
  display: table;
}

.title_principal{
text-align: center;
}

.title {
  text-align: center;
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 30px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color:  #cfbebe;
  transition-duration: 0.4s;
}
/* *********************************MAIN********************************* */
/* *********************************FOOTER********************************* */

/* *********************************FOOTER********************************* */


  
 
  
  *,
  *::before,
  *::after { 
    box-sizing: border-box;
  }
  
  html {
    background-color: #f0f0f0;
  }
  
  body {
    color: gray;
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
  
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .btn {
    background-color: white;
    border: 1px solid gray-light;
    border-radius: 1rem;
    color: gray-dark;
    padding: 0.5rem;
    text-transform: lowercase;
  }
  
  .btn--block {
    display: block;
    width: 100%;
  }
   
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards__item {
    display: flex;
    padding: 1rem;
    @media(min-width: 40rem) {
      width: 50%;
    }
    @media(min-width: 56rem) {
      width: 33.3333%;
    }
  }
  
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &:hover {
      .card__image {
        filter: contrast(100%);
      }
    }
  }
  
  .card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
  }
  
  .card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
    &::before {
      content: "";
      display: block;
      
    }
    @media(min-width: 40rem) {
      &::before {
        padding-top: 66.6%; // 3:2 aspect ratio
      }
    }
  }
  
  .card__image--flowers {
    background-image: url(https://unsplash.it/800/600?image=82);
  }
  
  .card__image--river {
    background-image: url(https://unsplash.it/800/600?image=11);
  }
  
  .card__image--record {
    background-image: url(https://unsplash.it/800/600?image=39);
  }
  
  .card__image--fence {
    background-image: url(https://unsplash.it/800/600?image=59);
  }
  
  .card__title {
    color: gray-dark;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
  }
  
  